<!DOCTYPE html>

<head>
    <title>Coin Tracker</title>
    <%- include("../partials/header-altin.ejs") %>
    <!-- Google Font, Orbital-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <!-- Google Font, Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Chart dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
        integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="helpers/coinHelper.js"></script>
    <script src="helpers/chartHelper.js"></script>
    <!-- Dropdown menu dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="helpers/dropdown/dropdownHelper.js"></script>
    <script src="helpers/dropdown/dropdownCoinHelper.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/dropdown.css">
    <!-- Page specific stylesheet -->
    <link rel="stylesheet" type="text/css" href="stylesheets/chart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar-altin.ejs') %>
    <%- include ("scrolling-bar.ejs") %>
    <div class="container">
        <div class="row justify-content-md-center mt-5 mb-4">
            <div class="col-auto">
                <h1 id="title-page">Coin Tracker</h1>
            </div>
        </div>
    </div>
    <div id="container-chart" class="container">
        <div class="row">
            <div class="col">
                <div id="dropdown"></div>
            </div>
        </div>
        <div class="row my-2 gx-1">
            <div class="col-auto">
                <img id="price-change-image">
            </div>
            <div class="col">
                <h5 id="chart-price"></h5>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <!-- TODO: Adding position: relative looks like a hacky fix for adding the digital clock to the top right -->
            <div class="col" style="position: relative">
                <canvas id="chart"></canvas>
                <%- include("../partials/digital-clock.ejs") %>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</body>
<script>
    let chart = createChart("bitcoin", "chart")
</script>
<%- include("../partials/footer-altin.ejs") %>

</html>
